$primary-cta-colour: #288090;

// Validation and inputs
$primary-transition-time: 600ms;
$secondary-transition-time: 400ms;
$border-colour: #c9c6c6;
$box-shadow-color: #bcbcbc;
$focused-background-color: #fbba20;
$input-background-color: #f5f5f5;
$valid-background-color: #429448;
$validation-background-color: #e60303;
$validation-border-color: #e80602;
$z-index-priority-high: 100;
