[*.cs]

# SA1634: File header should show copyright
dotnet_diagnostic.SA1634.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none
